<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Juego</title>
		<link type="text/css" rel="stylesheet" href="/css/bootstrap.css"></link>
		<link type="text/css" rel="stylesheet" href="/css/style.css"></link>
	</head>
	<body>
		<div class="col-lg-12" ng-app="DominoApp" ng-cloak>
			<div id="header" class="col-xs-12">
                <div id="logoHavanaGames"></div>
			</div>
			<div id="main" class="row" ng-controller="GameController">
				<h1>{{modelGame.title}}</h1>
                <div id="jugadores">
					Jugadores
					<div ng-repeat="player in modelGame.players.items">
						<img class="clip" src="/img/{{player.avatar}}.jpg" height="62" width="62" alt="{{player.alias}}">
						<span>{{player.alias}}</span>
					</div>
				</div>
				<div>
					Mis fichas
				</div>
				<div id="game_status">
					Fichas jugadas
					<span ng-repeat="tile in modelGame.state.tiles.items">
						{{tile.tileid}} |
					</span>
				<div>
			</div>
			<div id="footer" class="row">
			
			</div>
		</div>
	</body>

	<script src="/js/angular-1.5.7.min.js" type="text/javascript"></script>
	<script src="/js/domino-app.js" type="text/javascript"></script>
	<script src="/socket.io/socket.io.js"></script>
</html>