<html>
	<head>
		<meta charset="UTF-8">
		<title>Index</title>
		<link type="text/css" rel="stylesheet" href="/css/bootstrap.css"></link>
		<link type="text/css" rel="stylesheet" href="/css/style.css"></link>
	</head>
	<body>
		<div class="col-lg-12" ng-app="DominoApp" ng-cloak>
			<div id="header" class="col-xs-12">
                <div id="logoHavanaGames"></div>
			</div>
			<div id="main" class="row" ng-controller="AvatarController">
                <div id="newGamePlay">
                    
                    
                </div>
                <div id="chooseNickname" class="ChooseContanier">
                
                </div>                
				<div id="chooseAvatar" class="ChooseContanier">
					<div ng-repeat="avatar in modelAvatars">
						<img class="clip" src="/img/{{avatar.Photo}}.jpg" height="62" width="62" alt="{{avatar.Name}}" ng-cloak>
						<span>{{avatar.Name}}</span>
					</div>
				</div>
				<div>
					<button ng-click="Play()">Jugar!</button>
				</div>
			</div>
			<div id="footer" class="row">
			
			</div>
		</div>
	</body>
	    
	<script src="/js/angular-1.5.7.min.js" type="text/javascript"></script>
	<script src="/js/domino-app.js" type="text/javascript"></script>	
	<script src="/socket.io/socket.io.js"></script>
</html>
