<html>
	<head>
		<meta charset="UTF-8">
		<title>Index</title>
		<link type="text/css" rel="stylesheet" href="/css/bootstrap.css"></link>
		<link type="text/css" rel="stylesheet" href="/css/style.css"></link>
	</head>
	<body>
		<div class="col-lg-12" ng-app="DominoApp" ng-cloak>
			<div id="header" class="col-xs-12">
                <div id="logoHavanaGames"></div>
			</div>
			<div id="main" class="col-xs-12" ng-controller="AvatarController">
                
                <div id="newGamePlay" ng-show="step == 1">
                    <div id="newGame_Background"></div>
					<button id="newGame_CallAction" ng-click="Init()">Jugar!</button>
                    <div class="loader">
                      <i></i><i></i><i></i><i></i><i></i>
                    </div>
                </div>                                        
                        
                <div id="chooseNickname" class="ChooseContanier" ng-show="step == 2">
                    <h1 class="chooseTitle">Choose your nickname!</h1>
                    <input id="Nickname_Input" type="text" placeholder="New player" />
                    <div class="ChooseNav">
                        <button class="ChooseBTNs" ng-click="Cancel()">Cancel</button>
                        <button class="ChooseBTNs" ng-click="Select()">Next</button>
                    </div>
                </div>  
                        
				<div id="chooseAvatar" class="ChooseContanier" ng-show="step == 3">
                    <h1 class="chooseTitle">Choose your avatar!</h1>
                    <div class="chooseAvatar_Container">
                        <div class="AvatarContainer" ng-repeat="avatar in modelAvatars">
                            <img class="clip" src="/img/{{avatar.Photo}}.jpg" height="62" width="62" alt="{{avatar.Name}}" ng-click="SelectAvatar(avatar.Name)">
                            <span class="AvatarName">{{avatar.Name}}</span>
                        </div>
                    </div>
                    <div class="ChooseNav">
                        <button class="ChooseBTNs" ng-click="Cancel()">Cancel</button>
                        <button class="ChooseBTNs" ng-click="Play()">Go!</button>
                    </div>
				</div>
                        
			</div>
			<div id="footer" class="row">
			
			</div>
		</div>
	</body>

	<script src="/js/angular-1.5.7.min.js" type="text/javascript"></script>
	<script src="/js/domino-app.js" type="text/javascript"></script>
	<script src="/socket.io/socket.io.js"></script>
</html>
